html{
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
.page, body {
    background-color: #ededed;
}
.container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: var(--weui-FG-0);
}
.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    opacity: 1;
    z-index: 1;
}

body{
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}

.registerSubmitBtn{
    width: 90%;
    padding: 14px 0;
    border-radius: 30px;
    background: #0079fe !important;
}

.steps-warp{
    display: flex;
    white-space: nowrap;
}
.steps-warp .steps-box{
    position: relative;
    display: inline-block;
}
.steps-warp-head{
    position: relative;
    width: 100%;

    color: #c0c4cc;
    border-color: #c0c4cc;
    height: 24px;
}

.steps-box.active .steps-warp-head{
    color: #303133;
    border-color: #303133;
}
.steps-box.success .steps-warp-head{
    color: #409eff;
    border-color: #409eff;
    height: 24px;
}
.steps-box.success .steps-warp-line-inner{
    width: 100%;
}
.steps-box.success .steps-warp-iconortext{
    border: 0;
}
.steps-box.success .steps-warp-iconortext i{
    font-size: 26px;
}

.steps-warp-line{
    position: absolute;
    border-color: inherit;
    background-color: #c0c4cc;
    height: 2px;
    top: 11px;
    left: 0;
    right: 0;

    left: 50%;
    right: -50%;
}
.steps-warp-line-inner{
    display: block;
    border: 1px solid;
    border-color: inherit;
    transition: .15s ease-out;
    box-sizing: border-box;
    width: 0;
    height: 0;
}

.steps-warp-iconortext{
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    box-sizing: border-box;
    background: #fff;
    transition: .15s ease-out;
    border-radius: 50%;
    border: 2px solid;
    border-color: inherit;

    user-select: none;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    color: inherit;
    border: 0;
}

.steps-warp .steps-box:last-child{
    flex-basis: auto!important;
    flex-shrink: 0;
    flex-grow: 0;
}
.steps-warp .steps-box:last-child .steps-warp-line {
    display: none;
}
.steps-warp .steps-warp-head,
.steps-warp  .steps-warp-main{
    text-align: center;
}

.steps-warp-title {
    font-size: 16px;
    line-height: 38px;
    color:#c0c4cc;
}
.steps-warp-description{
    margin-top: -5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    white-space: normal;
    color:#c0c4cc;
}

.steps-box.success .steps-warp-title,
.steps-box.success .steps-warp-description{
    color: #409eff;
}

.steps-box.active .steps-warp-title,
.steps-box.active .steps-warp-description{
    color: #303133;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/re.png) no-repeat center;
    background-size: 24px 24px;
}
.icon.start{
    background: url(../img/start.png) no-repeat center;
    background-size: 24px 24px;
}
.result_title{
    text-align: center;
    margin-bottom: 25px;
}
.result_img{
    width: 100%;
    background: url(../img/reuslt.svg) no-repeat center;
    height: 240px;
    background-size: contain;
    margin: 50px 0;
}
.result_title .weui-icon-success{
    color: #409eff;
    width: 40px;
    height: 40px;
}
.result_title span{
    font-size: 24px;
    color: #409eff;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}
.result_content h2{
    font-size: 18px;
    text-align: center;
    color: #409eff;
    margin-bottom: 25px;
}
.result_content p{
    padding: 0px 20px;
    word-break: break-all;
}
.result_content p span{
    color: #409eff;
}